In [31]:
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import pandas as pd

In [28]:
# Load the required config from .env file under root directory.
load_dotenv()

True

In [29]:
# acquire all info and assign variables.
ALPACA_API_KEY = os.getenv('ALPACA_API_KEY')
ALPACA_SECRET_KEY = os.getenv('ALPACA_SECRET_KEY')

In [30]:
#Function for paper trading api or data only api
def api_access(type):
    if type == 'paper':
        try:
            api = tradeapi.REST(ALPACA_API_KEY, ALPACA_SECRET_KEY, 'https://paper-api.alpaca.markets')
            account = api.get_account()
            status = account.status
            print(f"Paper API connected")
            return api
        except:
            raise Exception("Please configur the .env file under root directory")
    elif type == 'data':
        try:
            api = tradeapi.REST(ALPACA_API_KEY, ALPACA_SECRET_KEY, 'https://data.alpaca.markets')
            start_date = pd.Timestamp("2020-06-01", tz="America/New_York").isoformat()
            end_date = pd.Timestamp("2020-06-05", tz="America/New_York").isoformat()
            api.get_bars("AAPL",timeframe = "1Day",start = start_date,end = end_date)
            print('Data API connected')
            return api
        except:
            raise Exception ("Please configur the .env file under root directory")

In [40]:
# Asign api access
paper_api = api_access('paper')

#
AAPL = paper_api.get_bars('META','1Min','2020-06-01','2020-06-05').df
#AAPL = json.dumps(AAPL,indent= 4)
AAPL

Paper API connected

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2020-06-01 08:00:00+00:00,225.19,225.19,225.19,225.19,1255,7,225.208765
2020-06-01 08:12:00+00:00,223.70,223.70,223.70,223.70,150,3,223.719933
2020-06-01 08:19:00+00:00,223.10,223.10,223.04,223.04,527,10,223.116395
2020-06-01 08:29:00+00:00,223.38,223.38,223.38,223.38,595,4,223.377143
2020-06-01 08:36:00+00:00,223.98,224.00,223.98,224.00,302,6,223.948212
...,...,...,...,...,...,...,...
2020-06-05 23:39:00+00:00,230.05,230.05,230.05,230.05,300,1,230.050000
2020-06-05 23:49:00+00:00,230.05,230.05,230.05,230.05,113,2,230.054425
2020-06-05 23:52:00+00:00,230.25,230.25,230.25,230.25,405,5,230.244444
2020-06-05 23:57:00+00:00,230.00,230.00,230.00,230.00,147,3,230.001429
2020-06-05 23:59:00+00:00,230.10,230.10,230.10,230.10,147,8,230.108333

In [37]:
paper_api = api_access('data')
start_date = pd.Timestamp("2020-06-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-06-05", tz="America/New_York").isoformat()
AAPL = paper_api.get_bars('META','1Day',start_date,end_date).df
#AAPL = json.dumps(AAPL,indent= 4)
AAPL

Data API connected

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2020-06-01 04:00:00+00:00,224.59,232.44,223.5000,231.91,18223839,174871,229.264613
2020-06-02 04:00:00+00:00,230.94,233.00,226.5600,232.72,20919029,191654,229.851235
2020-06-03 04:00:00+00:00,232.11,232.65,228.5300,230.16,15380282,166039,230.239980
2020-06-04 04:00:00+00:00,229.56,231.63,224.6100,226.29,17041481,180305,227.779699
2020-06-05 04:00:00+00:00,226.71,231.35,225.3105,230.77,16750586,166521,229.928852