In [29]:
import os
from dotenv import load_dotenv
import psycopg2
import datetime

In [30]:
# Load and assign variables.
load_dotenv()
SQL_DB = os.getenv('SQL_DB')
SQL_USER = os.getenv("SQL_USER")
SQL_PASSWORD = os.getenv("SQL_PASSWORD")
SQL_HOST = os.getenv("SQL_HOST")

In [46]:
con = None

In [47]:
con = psycopg2.connect(database = SQL_DB, user = SQL_USER, password=SQL_PASSWORD, host=SQL_HOST)

In [48]:
cur = con.cursor()
cur.execute('SELECT version()')

In [49]:
version = cur.fetchone()[0]

In [50]:
print(version)

PostgreSQL 14.5 (Homebrew) on aarch64-apple-darwin22.1.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.202), 64-bit

In [144]:
# prepare table_name as today's date
table_name = "data_" + datetime.date.today().strftime('%Y_%m_%d')

In [ ]:

cur.execute("CREATE TABLE IF NOT EXISTS %s (symbol TEXT, timestamp TIMESTAMPTZ, open NUMERIC,high NUMERIC,low NUMERIC,close NUMERIC,volume NUMERIC,trade_count INTEGER,vwap NUMERIC);" %table_name)
# "symbol": GOOGL
# "timestamp": 2022-11-08 18:39:00+00:00
# "open": 88.66
# "high": 88.72
# "low": 88.65
# "close": 88.71
# "volume": 1310.0
# "trade_count": 20.0
# "vwap": 88.678057

In [ ]:
con.commit()

In [ ]:
#def insert('GOOGL', '2022-11-08 18:39:00+00:00', 88.66,88.72,88.65,88.71,1310.0,20.0,88.678057):
cur.execute("INSERT INTO store VALUES('GOOGL', '2022-11-08 18:39:00+00:00', 88.66, 88.72, 88.65, 88.71, 1310.0, 20.0, 88.678057))

In [43]:
cur.execute("INSERT INTO store (symbol, timestamp, open, high, low, close, volume, trade_count, vwap) VALUES ('GOOGL', '2022-11-08 18:39:00+00:00', 88.66, 88.72, 88.65, 88.71, 1310.0, 20.0, 88.678057)")

In [44]:
con.commit()

In [45]:
cur.execute("SELECT * FROM store")
print(cur.fetchall())

[('GOOGL', datetime.datetime(2022, 11, 8, 13, 39, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), Decimal('88.66'), Decimal('88.72'), Decimal('88.65'), Decimal('88.71'), Decimal('1310.0'), 20, Decimal('88.678057'))]

In [40]:
cur.execute("DROP TABLE IF EXISTS store")
con.commit()

In [18]:
import time
import datetime

def convert_to_timestamp(date_time):
    time_tuple = time.strptime(date_time, "%Y-%m-%d %H:%M:%S-05:00")
    timestamp = time.mktime(time_tuple)
    return timestamp

date_time = str(datetime.datetime(2022, 11, 8, 13, 39, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))))
timestamp = convert_to_timestamp(date_time)
print(date_time)

2022-11-08 13:39:00-05:00

In [26]:
time.mktime(time.strptime(str(bar.timestamp), "%Y-%m-%d %H:%M:%S-05:00"))

1667932740.0

In [41]:
from ConnectDB import *
# Connect DataBase
con,cur = connect_data_base()
# prepare table_name as today's date
table_name = "cryptodata_" + datetime.date.today().strftime('%Y_%m_%d')
# Create table if not esists.
cur.execute("CREATE TABLE IF NOT EXISTS %s (symbol TEXT, timestamp TIMESTAMPTZ, open NUMERIC,high NUMERIC,low NUMERIC,close NUMERIC,volume NUMERIC,trade_count INTEGER,vwap NUMERIC);" %table_name)
# excute SQL command
con.commit()

symbol='ETH/USD'
timestamp=datetime.datetime(2022, 11, 9, 23, 10, tzinfo=datetime.timezone.utc) 
open=1115.1 
high=1115.1 
low=1107.8 
close=1112.6 
volume=20.38 
trade_count=43.0 
vwap=1111.6833366045 

#Connect DataBase
con,cur = connect_data_base()
cur.execute("INSERT INTO {} (symbol, timestamp, open, high, low, close, volume, trade_count, vwap) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)".format(table_name), (symbol, timestamp, open, high, low, close, volume, trade_count,vwap))
#  cur.execute("INSERT INTO %s (symbol, timestamp, open, high, low, close, volume, trade_count, vwap) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)" %(table_name, bar.symbol, time.mktime(time.strptime(str(bar.timestamp), "%Y-%m-%d %H:%M:%S+00:00")), bar.open, bar.high, bar.low, bar.close, bar.volume, bar.trade_count, bar.vwap))
#  cur.execute("INSERT INTO {} (symbol, timestamp, open, high, low, close, volume, trade_count, vwap) VALUES ({}, {}, {}, {}, {}, {}, {}, {}, {})".format(table_name, symbol, time.mktime(time.strptime(str(timestamp), "%Y-%m-%d %H:%M:%S+00:00")), open, high, low, close, volume, trade_count,vwap))

con.commit()
con.close()

PostgreSQL 14.5 (Homebrew) on aarch64-apple-darwin22.1.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.202), 64-bit
PostgreSQL 14.5 (Homebrew) on aarch64-apple-darwin22.1.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.202), 64-bit

In [44]:
type(time.mktime(time.strptime(str(timestamp), "%Y-%m-%d %H:%M:%S+00:00")))

float

In [ ]:
def connect_data_base():
    con = psycopg2.connect(database='postgres', user='postgres',password='postgres',host='localhost')
    cur = con.cursor()
    cur.execute('SELECT version()')
    version = cur.fetchone()[0]
    print(version)
    return con cur
symbol='ETH/USD' timestamp=datetime.datetime(2022, 11, 9, 23, 10, tzinfo=datetime.timezone.utc) open=1115.1 high=1115.1 low=1107.8 close=1112.6 volume=20.38 trade_count=43.0 vwap=1111.6833366045